apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: docker.io/paraso1ka/flask-app:08ac5301c688a981c005da354da0fe968f8d357a
          ports:
            - containerPort: 5000
